.hero {
    /* background-color: #b7d0be; */
    /* max-height: 270px;
    min-height: 200px; */
    height: 240px;
    overflow: hidden;
    /* background: rgb(198,232,241); */
    background: #c3ddee;
    /* background: linear-gradient(90deg, rgba(210,234,206,1) 0%, rgba(233,233,233,1) 35%); */
    background-image: url(/vf-covid19-boilerplate/images/CV19DP_banner.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    /* background-position-x: right; */
    /* border-bottom: 6px solid #ddd; */
    text-shadow: 1px 1px 3px #c3ddee;
}

.hero-search {
    /* background-color: #b7d0be; */
    /* max-height: 270px;
    min-height: 200px; */
    /* height: 290px; */
    overflow: hidden;
    /* background: rgb(198,232,241); */
    background: rgb(195,221,238);
    background: linear-gradient(90deg, rgba(195,221,238,1) 0%, rgba(241,241,241,1) 31%);
    /* border-bottom: 6px solid #ddd; */
}

.hero-thin {
    /* background-color: #b7d0be; */
    /* max-height: 190px;
    min-height: 120px; */
    /* height: 120px; */
    overflow: hidden;
    background: #c3ddee;
    background-image: url(/vf-covid19-boilerplate/images/CV19DP_banner.jpg);
    background-repeat: no-repeat;
    /* background: linear-gradient(90deg, rgba(207,238,238,1) 0%, rgba(241,241,241,1) 31%); */
    /* border-bottom: 6px solid #ddd; */
}
